* {
	padding: 0;
	margin: 0
}

li {
    list-style: none;
}
/* Точка - определяет свойства дляя класса */
.container {
	max-width: 960px;
	text-align: center;
	margin: 0 auto;
	background-color: #fcba03;
	padding: 30px;
	margin-bottom: 20px;

}

.header { 
	padding: 50px;
	background: #d9766f;
	margin: 0 auto;
	margin-bottom: 20px;

}




.logo {
	float: left;
	padding-left: 30%;
}

.name {
	text-align: center;
	padding-right: 35%;
	font-size: 32px;
	color: white;
}


.navigation {
	max-width: 960px;
	text-align: center;
	margin: 0 auto;
	background-color: #fcba03;
	margin-bottom: 20px;
	padding: 30px;
}

.links {
	max-width: 960px;
	text-align: center;
	margin: 0 auto;
	background-color: #fcba03;
	margin-bottom: 20px;
	padding: 30px;
}

.table {
	max-width: 960px;
	text-align: center;
	margin: 0 auto;
	background-color: grey;
	margin-bottom: 20px;
	
}

/* Для всех тегов td, th*/
td, th {
	width: 120px;
	padding: 10px;
	font-style: italic;
	font-size: 18px;
}

nav ul li {
	list-style: none;
	width: 60px;
	display: inline;
	padding: 30px;

}


tr:nth-child(odd) {
	background-color: grey;
}

tr:nth-child(even) {
	background-color: #fcba03;
}

.footer {
	max-width: 960px;
	text-align: center;
	margin: 0 auto;
	background-color: #fcba03;
	padding: 30px;
}
